.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

.header__logo {
  width: 40%;
}

.header__list {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.0025em;

  color: #8391B2;

  a {
    text-decoration: none;
    color: #8391B2;
  }

  svg {
    padding: 0 10px 0 0;
  }
}

@media(max-width: 1200px) {
  .header__list {
    width: inherit;
    justify-content: flex-end;
  }
  .header__item {
    span {
      display: none;
    }
    svg {
      padding: 0 30px 0 0;
    }

    &:last-child svg {
      padding: 0;
    }
  }
}
